.lead__subtitle {
  margin: 32px auto 0;
  max-width: 640px;
  text-align: center;
  font-size: 30px;
  line-height: 1.2;
  font-weight: normal;
}

@media screen and (max-width: 715px) {
  .lead__subtitle {
    font-size: 25px;
    line-height: 1.25;
  }
}

@media screen and (max-width: 400px) {
  .lead__subtitle {
    font-size: 20px;
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    margin-top: 16px;
    max-width: 288px;
    font-size: 16px;
  }
}