.cover {
  max-width: 1184px;
  min-height: 740px;
  margin: 92px auto;
  background: url("../../images/cover-trains.jpg") no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}