.cover {
  max-width: 1184px;
  min-height: 740px;
  margin: 92px auto;
  background: url("../../images/cover-trains.jpg") no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .cover {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    min-height: 480px;
    margin: 90px auto 88px;
  }
}

@media screen and (max-width: 540px) {
  .cover {
    min-height: 320px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    min-height: 200px;
    margin: 66px auto 64px;
  }
}