.cover__title {
  max-width: 560px;
  margin: 0;
  font-size: 72px;
  line-height: 1.06;
  font-weight: 900;
  z-index: 1;
}

@media screen and (max-width: 540px) {
  .cover__title {
    font-size: 54px;
    line-height: 1.09;
  }
}

@media screen and (max-width: 400px) {
  .cover__title {
    font-size: 45px;
    line-height: 1.09;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 1.09;
  }
}